@{
    ViewBag.Title = "Home Page";
    WorkStatus.MVC.Core.Models.StatusModel statusModel = ViewBag.StatusModel;
    List<OWMModel> oWMModels = ViewBag.OWMs;
}
<style>
    #topbutton {
        display: inline-block;
        background-color: #FF9800;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
    }

        #topbutton::after {
            font-family: 'Microsoft JhengHei UI';
            font-weight: normal;
            font-style: normal;
            font-size: 2em;
            line-height: 50px;
            color: #fff;
        }

        #topbutton:hover {
            cursor: pointer;
            background-color: #333;
        }

        #topbutton:active {
            background-color: #555;
        }

        #topbutton.show {
            opacity: 1;
            visibility: visible;
        }
</style>
<a id="topbutton">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
</a>
<div class="form-group" id="top"></div>
<div class="dropdown form-group">
    @*<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            快速選單 | Quick menu
        </button>*@
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @for (int i = 0; i < WorkStatus.MVC.Core.Controllers.HomeController.CitiesEn.Length; i++)
        {
            <a class="dropdown-item" href="#@i">@WorkStatus.MVC.Core.Controllers.HomeController.CitiesCh[i] | @WorkStatus.MVC.Core.Controllers.HomeController.CitiesEn[i]</a>
        }
    </div>
</div>
<input type="search" class="form-control form-group" data-table="order-table" placeholder="搜尋縣市 | Search city" id="search-tbx" autofocus="">
<div id="a-group">
    @for (int i = 0; i < statusModel.citiesStatuses.Length; i++)
    {
        @*<a href="/Home/Detail/@i" style="text-decoration:none;color:black" class="a-list">*@
        <a href="#" style="text-decoration:none;color:black" class="a-list">
            @if ((@statusModel.citiesStatuses[i].isCanceled == false) && (@statusModel.citiesStatuses[i].notes.Length == 0))
            {
                <div class="card border-success form-group" id="@i">
                    <div class="card-body">
                        <h5 class="card-title w-100">
                            @statusModel.citiesStatuses[i].cityNameCh |
                            @if (oWMModels[i].cod == 200)
                            {
                                @oWMModels[i].main.temp;
                            }
                            ℃
                            @if (@oWMModels[i].weather != null)
                            {
                                <img src=" https://openweathermap.org/img/wn/@oWMModels[i].weather[0].icon@@2x.png" alt=" @oWMModels[i].weather[0].description" width="35" height="35" />
                            }
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">@statusModel.citiesStatuses[i].cityNameEn</h6>
                        <p class="card-text">
                            目前無停班停課訊息<br />School and work are not suspended.
                            <small class="text-muted">

                            </small>
                        </p>
                    </div>

                </div>
            }
            else if (@statusModel.citiesStatuses[i].isCanceled == true)
            {
                <div class="card border-danger form-group" id="@i">
                    <div class="card-body">
                        <h5 class="card-title">
                            @statusModel.citiesStatuses[i].cityNameCh |
                            @if (oWMModels[i].cod == 200)
                            {
                                @oWMModels[i].main.temp;
                            }
                            ℃
                            @if (@oWMModels[i].weather != null)
                            {
                                <img src=" https://openweathermap.org/img/wn/@oWMModels[i].weather[0].icon@@2x.png" alt=" @oWMModels[i].weather[0].description" width="35" height="35" />
                            }
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">@statusModel.citiesStatuses[i].cityNameEn</h6>
                        <p class="card-text">目前已停班停課<br />School and work are suspended.</p>
                        <p class="card-text">
                            @if (@statusModel.citiesStatuses[i].notes != null)
                            {
                                for (int v = 0; v < @statusModel.citiesStatuses[i].notes.Length; v++)
                                {
                                    <span class="text-danger">*</span><span class="">@statusModel.citiesStatuses[i].notes[v]</span>
                                }
                            }
                        </p>

                    </div>
                </div>
            }
            else
            {
                <div class="card border-warning form-group" id="@i">
                    <div class="card-body">
                        <h5 class="card-title">
                            @statusModel.citiesStatuses[i].cityNameCh |
                            @if (oWMModels[i].cod == 200)
                            {
                                @oWMModels[i].main.temp;
                            }
                            ℃
                            @if (@oWMModels[i].weather != null)
                            {
                                <img src=" https://openweathermap.org/img/wn/@oWMModels[i].weather[0].icon@@2x.png" alt=" @oWMModels[i].weather[0].description" width="35" height="35" />
                            }
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">@statusModel.citiesStatuses[i].cityNameEn</h6>
                        <p class="card-text">目前無停班停課訊息<br />School and work are not suspended.</p>
                        <div class="border-danger h6 text-muted">
                            <p class="card-text border-danger">
                                @for (int v = 0; v < @statusModel.citiesStatuses[i].notes.Length; v++)
                                {
                                    <span class="text-danger border-danger">*<span class="">@statusModel.citiesStatuses[i].notes[v]</span></span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
        </a>

    }
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-searcher/0.3.0/jquery.searcher.min.js"
            integrity="sha256-0gDDgmKv0Pz8Ra9kdI2kNXfnF3udmjcmUQmVIkp07/w=" crossorigin="anonymous"></script>
    <script>
        var btn = $('#topbutton');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
    </script>
    <script>
        $("#a-group").searcher({
            itemSelector: ".a-list",
            textSelector: "",
            inputSelector: "#search-tbx",
            toggle: function (item, containsText) {
                // use a typically jQuery effect instead of simply showing/hiding the item element
                if (containsText)
                    $(item).fadeIn();
                else
                    $(item).fadeOut();
            }
        });
    </script>
}
<small class="text-muted">@ViewBag.foo</small>